$color-dark: #2E2E2E;
$color-gray: #424242;
$color-light: #DCDCDC;
$color-highlight: greenyellow;

$font-main: 'Roboto', sans-serif;
$font-secondary: 'Open Sans', sans-serif;


$background-color: $color-dark;
$card-color: $color-gray;
$primary-text-color: $color-light;